{% extends 'hod_templates/base_template.html' %}
{% block page_title %}
Update Class Details of Class {{ currentClass }}
{% include 'hod_templates/_searchClass.html' %}
<!--create drop down menu here with select field-->
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                <!-- general form elements -->
                <!--Update class details -->
                <div class="card card-primary">
                  <div class="card-header">
			  <h3 class="card-title">Update Class Details of Class {{ className }}</h3>
                  </div>
                {% with messages = get_flashed_messages(category_filter=['message']) %}
                     	{% if messages %}
                        	<div class="alert alert-success alert-dismissible fade show" role="alert">
                        	{% for message in messages %}
                          		<li>{{ message }}</li>
                        	{% endfor %}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                        	</div>
                      	{% endif %}
                {% endwith %}
                  <!-- /.card-header -->
                  <!-- form start -->
		  <form action="{{ url_for('updateClassDetails', className = currentClass)}}" method="post">
                    <div class="card-body">
				{% for scount in range(total_subject)%}
				<hr>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Subject</label>
						<input type='text' placeholder='Subject Name' name= 'subject{{scount|string}}' class= 'form-control' required='required'>
					</div>
					<div class="form-group col-md-6">
						<label> Teacher Name</label>
						<select class="form-control" id="teacher" name="teacher{{scount|string}}" required=required>
							<option selected disabled>Select Subject Teacher</option>
							{% for name in myTeacherList %}	
							<option value={{ name }}>{{ name }}</option>
						{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label>Market Price</label>
					<input type="text" placeholder="Price" name="price{{scount|string}}" class="form-control" required="required">
				</div>
				<div class="form-group">
					<label>Publisher</label>
					<input type="text" placeholder="Publisher" name="publisher{{scount|string}}" class="form-control">
				</div>
				<hr>
				<br>
				{% endfor %}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-block">Add Staff</button>
                    </div>
		    </form>
                    <!-- /.card-body -->

                </div>
                  <!-- /.card-header -->
                <!-- /.card -->
              </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
